<footer class="footer">
<ul class="navbar-nav">
  <li><%= link_to "箕輪編集室？", root_path, class: "link"  %> | <%= link_to "利用規約", root_path, class: "link"  %> | <%= link_to "プライバシーポリシー", root_path, class: "link"  %> | <%= link_to "お問い合わせ", root_path, class: "link" %></li><br/>
  <li>© <%= Date.today.year %> minowa.com All right reserved.</li>
</ul>
</footer>